<link rel="stylesheet" href="/css/bangumi.css">
<div class="pattern-center-blank"></div>
<div id="content" class="site-content">
  <article class="post-item post-301 page type-page status-publish has-post-thumbnail hentry">
    <header class="page-header"><h1 class="cat-title">这里将是永远的回忆</h1> <span class="cat-des"><p><blockquote>
      我是一个漫威迷，当然我是指漫威主宇宙的电影，漫威旗下的电影都看过了，对我来说，漫威不仅仅是科幻片，它也是我高中时的信仰，高中时只要新出漫威电影我必第一时间去看，而且尽可能在电影院看，因为我觉得这么好看的电影只有在电影院看才能配得上它，直到现在我都这样觉得，高中时我是因为别人才喜欢上漫威的，高中时班里面人男生都特别痴迷于漫威电影，一下课就聚堆讨论，我也是因为想融入就看了一部复仇者联盟三，这也是我真正意义上看的第一部漫威电影，虽然初中时看过复联2，但是当时看不懂，也不喜欢，没认真看，现在看漫威就能回忆起高中时光，哎😔，哥的青春👭
      </blockquote></p> </span></header>
    <% if (page.bangumis) { %>
    <div class="bangumi">
      <div class="row" id="rootRow">
        <% (page.bangumis||[]).forEach(function (bangumi, index) { %>
          <div class="col s12 m6" id="bangumi-<%- index %>">
            <div class="card hoverable" style="overflow: visible;">
              <div class="card-image waves-effect waves-block waves-light">
                <div class="activator itempic lazyload" style="background-image: url(<%- bangumi.img %>);" data-src="<%- bangumi.img %>">
                </div>
              </div>
              <div class="card-content">
                <div class="card-title should-ellipsis activator grey-text text-darken-4">
                  <%- bangumi.title %><i class="fa fa-commenting-o right"></i>
                </div>
                <p class="should-ellipsis-full">
                <%- bangumi.jp %></p>
                <ul class="skill-list">
                  <li class="skill">
                    <div>
                    <%- bangumi.status %></div>
                    <progress class="skill-1" max="100" value="<%- bangumi.progress %>">
                    </progress>
                  </li>
                </ul>
              </div>
              <div class="card-reveal" style="display: none; transform: translateY(0%);">
                <span class="card-title grey-text text-darken-4">
                  <%- bangumi.title %><i class="fa fa-close right"></i>
                </span>
                <span>
                  <%- bangumi.jp %><br>
                </span>
                <span>
                  放送时间: <%- bangumi.time %><span>
                    <p><%- bangumi.desc %></p>
                    <ul class="skill-list">
                      <li class="skill">
                        <div>
                        <%- bangumi.status %></div>
                        <progress class="skill-1" max="100" value="<%- bangumi.progress %>">
                        </progress>
                      </li>
                    </ul>
                  </span>
                </span>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
    <% } %>
  </article>
</div>